<%= render @recipe %>

<div class="flex space-between">
  <%= button_to "Generate Shopping List", shopping_list_path, method: :get%>
  <%= button_to "Create New Food", new_food_path, method: :get%>
</div>
<hr/>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Total Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe.recipe_foods.where(recipe_id: @recipe.id).each do |rf| %>
      <tr>
        <td><%= rf.food.name %></td>
        <td><%= rf.quantity %> <%= rf.food.measurement_unit %></td>
        <td>$ <%= (rf.food.price * rf.quantity).round(2) %></td>
        <% if can? :manage, rf.food %>
          <td class="flex btn-manage">
            <%= button_to "Modify", edit_recipe_food_path(rf), method: :get %>
            <%= button_to "Remove", rf, {
              :method => :delete,
              :onclick => "setTimeout(() => {
                this.parentNode.parentNode.parentNode.remove();
                document.getElementById('food-fb').innerText = 'There is food available to add';
                document.getElementById('btn-add-food').disabled = false;
                }, 100);"
            } %>
          </td>
        <% else %>
          <td> - </td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td>
        <% if can? :edit, @recipe %>
          <% if @current_food_options.empty? %>
            <span id="food-fb">No food available to add</span>
          <% else %>
            <span id="food-fb">There is food available to add</span>
          <% end %>
        <% else %>
          <span id="food-fb">Not authorized to edit/delete</span>
        <% end %>
      </td>
      <td></td>
      <td></td>
      <td>
        <% if (can? :edit, @recipe) && (!@current_food_options.empty?) %>
          <%= button_to "Add new ingredient", new_recipe_food_path, { :id => "btn-add-food", :method => :get } %>
        <% else %>
          <%= button_to "Add new ingredient", new_recipe_food_path, { :id => "btn-add-food", :method => :get, :disabled => true } %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <% if can? :edit, @recipe %>
    <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <% else %>
    <span>Edit this recipe |</span>
  <% end %>
  <%= link_to "Back to recipes", recipes_path %>
  <% if can? :edit, @recipe %>
    <%= button_to "Destroy this recipe", @recipe, method: :delete %>
  <% else %>
    <%= button_to "Destroy this recipe", @recipe, { :method => :delete, :disabled => true } %>
  <% end %>
</div>
